{% extends 'base.html.twig' %}

{% block title %}Confirmation d'envoi
{% endblock %}

{% block body %}
	<h1>Message envoyé !</h1>
	<p>Merci, votre message a bien été envoyé.</p>
	<p>Nous traiterons votre message le plus rapidement possible.</p>
{% endblock %}
