{% extends 'base.html.twig' %}

{% block title %}BlogBooks
{% endblock %}

{% block body %}
	<h1 class="pb-1">Bienvenue sur notre blog !</h1>
	<p>Découvrez notre blog dédié aux livres, un espace vibrant où les passionnés de lecture peuvent partager leurs avis et leurs recommandations littéraires. Que vous soyez un fervent amateur de romans, de thrillers, de science-fiction ou de poésie, notre communauté vous accueille pour échanger, débattre et célébrer la richesse de la littérature. Rejoignez-nous et partagez votre voix, car chaque avis compte et contribue à construire une bibliothèque virtuelle riche d'expériences et de découvertes littéraires.</p>
{% endblock %}
