{% extends 'base.html.twig' %}

{% block title %}Categories
{% endblock %}

{% block body %}
	<h1>Les différentes catégories :</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom de la catégorie</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('app_category_show', {'id': category.id}) }}">consulter la liste</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3">Aucune catégorie disponible.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
